[Desktop Entry]
Name=AlbumArt
Name[ar]=AlbumArt
Name[az]=AlbumArt
Name[ca]=AlbumArt
Name[ca@valencia]=AlbumArt
Name[cs]=AlbumArt
Name[da]=AlbumArt
Name[de]=AlbumArt
Name[en_GB]=AlbumArt
Name[es]=AlbumArt
Name[et]=AlbumArt
Name[eu]=AlbumArt
Name[fi]=AlbumArt
Name[fr]=AlbumArt
Name[gd]=AlbumArt
Name[gl]=AlbumArt
Name[hu]=AlbumArt
Name[ia]=AlbumArt
Name[id]=AlbumArt
Name[it]=AlbumArt
Name[ko]=AlbumArt
Name[lt]=AlbumArt
Name[nb]=AlbumArt
Name[nl]=AlbumArt
Name[nn]=AlbumArt
Name[pa]=AlbumArt
Name[pl]=AlbumArt
Name[pt]=AlbumArt
Name[pt_BR]=AlbumArt
Name[ro]=AlbumArt
Name[ru]=AlbumArt
Name[sk]=AlbumArt
Name[sl]=AlbumArt
Name[sr]=AlbumArt
Name[sr@ijekavian]=AlbumArt
Name[sr@ijekavianlatin]=AlbumArt
Name[sr@latin]=AlbumArt
Name[sv]=AlbumArt
Name[tg]=AlbumArt
Name[tr]=AlbumArt
Name[uk]=AlbumArt
Name[vi]=AlbumArt
Name[x-test]=xxAlbumArtxx
Name[zh_CN]=专辑图片
Name[zh_TW]=AlbumArt
Comment=Show your album picture on your desktop.
Comment[zh_CN]=显示当前正在播放的专辑图片


Icon=applications-system
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-PluginInfo-Author=%{AUTHOR}
X-KDE-PluginInfo-Email=%{EMAIL}
X-KDE-PluginInfo-Name=com.github.quank123wip.albumart
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://github.com/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-License=LGPL-2.1+
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

